body {
  margin: 0;
  background-color: #eef2f5;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

form {
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10x 25px rgb(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  color: #29425c;
  margin-top: 0;
}

p {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

label.pergunta {
  display: block;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
  margin-top: 20px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
}

legend {
  font-weight: bold;
  color: #2c3e50;
  padding-right: 10px;
  text-align: center;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista label {
  font-weight: normal;
  display: flex;
  align-items: center; /* Alinha o texto com a bolinha */
  cursor: pointer;
}

select,
textarea,
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: inherit;
  background-color: #f9f9f9;
}

input[type="checkbox"],
input[type="radio"] {
  transform: scale(1.2); /* Aumenta um pouco o tamanho */
  margin-right: 12px;
  accent-color: #2c3e50; /* Cor azul quando marcado */
}

button {
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px;
  background-color: #37af65;
  color: #f3f3f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2c3e50;
}
